/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;

}
a {
    text-decoration: none;
    color: inherit;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start Font Imports */

/* BUNGEE */
@font-face {
	font-family: "Bungee-Inline";
	src: url('./assets/fonts/BungeeInline/BungeeInline-Regular.ttf');
}

/* RALEWAY */
@font-face {
	font-family: "Raleway-Black";
	src: url('./assets/fonts/Raleway/Raleway-Black.ttf');
}

@font-face {
	font-family: "Raleway-Bold";
	src: url('./assets/fonts/Raleway/Raleway-Bold.ttf');
}

@font-face {
	font-family: "Raleway-Extra-Bold";
	src: url('./assets/fonts/Raleway/Raleway-ExtraBold.ttf');
}

@font-face {
	font-family: "Raleway-Extra-Light";
	src: url('./assets/fonts/Raleway/Raleway-ExtraLight.ttf');
}

@font-face {
	font-family: "Raleway-Light";
	src: url('./assets/fonts/Raleway/Raleway-Light.ttf');
}

@font-face {
	font-family: "Raleway-Medium";
	src: url('./assets/fonts/Raleway/Raleway-Medium.ttf');
}

@font-face {
	font-family: "Raleway-Regular";
	src: url('./assets/fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
	font-family: "Raleway-Semi-Bold";
	src: url('./assets/fonts/Raleway/Raleway-SemiBold.ttf');
}

@font-face {
	font-family: "Raleway-Semi-Bold";
	src: url('./assets/fonts/Raleway/Raleway-SemiBold.ttf');
}

@font-face {
	font-family: "Raleway-Thin";
	src: url('./assets/fonts/Raleway/Raleway-Thin.ttf');
}

/* ROBOTO */

@font-face {
	font-family: "Roboto-Black";
	src: url('./assets/fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
	font-family: "Roboto-Bold";
	src: url('./assets/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
	font-family: "Roboto-Light";
	src: url('./assets/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
	font-family: "Roboto-Medium";
	src: url('./assets/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
	font-family: "Roboto-Regular";
	src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
	font-family: "Roboto-Thin";
	src: url('./assets/fonts/Roboto/Roboto-Thin.ttf');
}

h1 {
	font-family: "Bungee-Inline";
	font-size: 26px;
}

h2, h3, h4 {
	font-family: "Raleway-Semi-Bold";
	font-size: 18px;
}

h5, h6 {
	font-family: "Raleway-Light";
	font-size: 18px;
}

p, li, a {
	font-family: "Roboto-Regular";
	font-size: 14px;
}

button {
	font-size: 16px;
}


/* SHARED STYLES */

.round-corners {
    border-radius: 3px;
}



/* Colors
Black - #0D1B2A
dark blue - #1B263B
blue jeans blue - #415A77
lighter blue - #778DA9
grayish - #E0E1DD
*/