<div class='footer-wrap'>

  <div class='footer-header black-white bottom-margin'>
    <h1>SS Skate Shop</h1>
  </div>

  <div class='footer-content'>

    <div class="footer-col">
      <h5>NEED HELP?</h5> <br />
      <ul>
        <li>Track My Order</li>
        <li>Returns & Exchanges</li>
        <li>Customer Service</li>
        <li>Find a Store</li>
      </ul>
    </div>

    <div class="footer-col">
      <h5>CONNECT</h5> <br />
      <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Pinterest</li>
        <li>Instagram</li>
        <li>Youtube</li>
      </ul>
    </div>

    <div class="footer-col">
      <h5>EXPLORE</h5> <br />
      <ul>
        <li>Jobs</li>
        <li>About Us</li>
        <li>SS Skate Foundation </li>
        <li>Blue Tomato</li>
        <li>Community & Press</li>
        <li>Investors</li>
        <li>Popular Searches</li>
        <li>SS Skate Presents</li>
      </ul>
    </div>

    <div class="footer-col">
      <h5>BE THE FIRST TO KNOW</h5> <br />
      <p>Subscribe to email + never miss out.</p> <br />
      <button class='subscribe-button black-white round-corners'>Email Sign Up</button><br />
      <img src='../../assets/magazine.png' alt='magazine' /><br />
      <button class='shop-button'>Shop The Catalog</button>
    </div>
  </div>

  <div class='footer-bottom black-white'>
    <ul>
      <li>&copy; 2020 SS Skate Shop</li>
      <li>Privacy Policy</li>
      <li>Terms & Conditions</li>
      <li>Site Map</li>
    </ul>
  </div>

</div>
